*.bin
*.fst
*.jdi
*.log
*.qws
*.rbf
*.rom
*.rpt
*.smsg
*.sof
*.summary
*.vcd
*.wlf
*.zip
Arcade-Cave_MiSTer/
Arcade-IremM72_MiSTer/
Hardware_MiSTer/
Main_MiSTer/
N64_MiSTer/
NeoGeo_MiSTer/
PSX_MiSTer/
Saturn_MiSTer/
Template_MiSTer/
c5_pin_model_dump.txt
cr_ie_info.json
db/
debug.log
incremental_db/
jtag.cdf
modelsim.ini
mra/*TraceFix*.mra
notepad .aider.env.md
output_files/
roms/
scripts/__pycache__/
sim/out/
sim/work/
simulation/
snap/
transcript
work/
